<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Summary Web Service</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <div class="container">
        <div style="text-align: center; font-size: 300%;">
            <p>
                <h1>요약을 해요</h1>
            </p>
            <button onclick="window.location='/summary'">요약하기</button>
        </div>
    </div>
</body>
</html>