body {
    margin: 0px;
}


/* 다크 모드 버튼 스타일 */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"%3E%3Cpath d="M12 2a10 10 0 1 0 10 10 8 8 0 0 1-10-10z"%3E%3C/path%3E%3C/svg%3E');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99;
}

/* 메뉴 스타일 */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05445E;
    height: 80px;
    position: relative;
}

.navbar button {
    background-color: #189AB4;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
}

.navbar button:hover {
    background-color: #75E6DA;
    transform: scale(1.1);
}

.navbar button::after {
    content: "⬇";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.navbar button:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(10px);
}


.max-size-div {
    align-content: start;
    text-align: left;
}
.max-size-span {
    font-size: medium;
    color: lightgray;
}

.summary-loading {
    display: none;
    width: 16px;
    height: 16px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    animation: spin 1s linear infinite;
    margin-left: 8px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.summary-disabled {
    background-color: rgb(175, 174, 174);
    cursor: not-allowed;
}


.logout-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    text-decoration: underline;
}
.header-head {
    background-color: #05445E;
    color: white;
    padding: 10px;
    text-align: right;
}

.header-locate header span, .header-locate header a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 16px;
}